$burgundy-color: #800020;
$pink-color: deeppink;
$blue-color: skyblue;
$black-color: black;
$white-color: white;
$light-purple-color: #C6ADC6;
$lighter-purple-color: #D2C0C4;
$another-pink-color: #df93a5;
$pastel-pink: #ffb3ba;
$pastel-yellow: #ffffba;
$pastel-blue: #bae1ff;
$python-blue-light: #4B79A1;
$python-blue-dark: #283E51;
$yellow-color: #FFE000;
$c-blue: #8e9eab;
$c-white: #eef2f3;
$caramel-dark: #D1913C;
$caramel-light: #FFD194;
