a{
    color: black;
}

a:hover{
    color: #800020;
    /* font-size: 1.1em; */
}

a:active{
    color: deeppink;
}

a:focus{
    background-color: skyblue;
}

/* .source-code-pro-codefont {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

p,
li{
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

body{
    margin: 0%;
    background: black;
    /* box-sizing: border-box; */
    /* background-image: url("images/wallpaper.png"); */
    /* background-image: url("https://giphy.com/gifs/loop-processing-fractal-l0Iy5Hw2UPdMahub6"); */
    /* background-attachment: fixed; */
    /* background-size: cover; */
} 

canvas{
    /* background: black; */
    position: fixed;
    z-index : -1;
    /* position: fixed; */
    mix-blend-mode: screen;
    top: 0;
    left: 0;
}

.sub_body{
    margin: 2%;
} 

.greetings{
    /* background-image: url("images/sunset.jpg"); */
    /* background-image: url("bg.jpeg"); */
    color: white;
    padding-top: 5em;
    padding-bottom: 15em;
    padding-left: 5%;
    padding-right: 5%;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 3px 3px 0px #800020;
}

nav{
    width: 5em;
    padding-top: 3em;
    margin-left: 2em;
    margin-right: 1em;
    position: sticky;
    top: 0;
    float: left;
}

nav a{
    /* font-family: 'Alegreya', serif; */
    font-family: "Encode Sans Semi Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    /* color: white; */
    font-size: 1.1em;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 3px;
    padding: 5px;
    border-radius: 10px; 
    /* background-color:#df93a5dc; */
    background-color: #C6ADC6;
    width: 5em;
    height: 4em;
    margin-bottom: 1em;
}

nav img{
    margin-top: 0.5em;
    height: 1.5em;
}

h1,
h2,
h3{
    /* font-family: 'Alegreya', serif; */
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1{
    font-size: 2em;
}

em{
    color: #800020;
    font-weight: 700;
    font-style: italic;
}

.short_bio{
    margin: auto;
    width: 75%;
    border-radius: 10px;
    /* background-color: rgba(184,219,211, 0.96); */
    background-color: #D2C0C4;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 13.45%;
}

.short_bio img{
    padding-bottom: 3em;
    width: 30em;
    filter: drop-shadow(10px 10px 10px #222);
    /* box-shadow: 6px 6px 25px rgba(0, 0, 0, 1); */
}

.short_bio > div{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.short_bio p{
    /* display: inline-block; */
    width: 40%;
}

.projects{
    margin-left: 13.45%;
    width: 75%;
    border-radius: 10px;
    /* background-color: rgba(162, 90, 108, 0.96); */
    background-color: #D2C0C4;
    padding-top: 1%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

.short_bio h1{
    text-align: center;
}

.projects h1,
.tools-grid h1{
    text-align: center;
    margin-bottom: 1.5em;
}

.short_bio,
.projects,
.bio,
.activities{
    margin-bottom: 8em;
}

/* .greetings_container{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 65%, transparent 100%);
} */

/* #headshot{
    margin: auto;
    display: block;
} */

.activities{
    margin-left: 13.45%;
    width: 75%;
    /* text-align: justify; */
    border-radius: 10px;
    /* background-color: rgba(162, 90, 108, 0.96); */
    background-color: #D2C0C4;
    padding-top: 1%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
}

.conteneur_activities{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    row-gap: 5em;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
}

.conteneur_activities img{
    width: 350px;
}

.conteneur_activities div{
    width: 45%;
}

#travels{
    margin-left: 10%;
}

/* .long_bio{
    width: 45%;
} */

/* .conteneur_long_bio{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-left: 13.45%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 1%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
} */

.conteneur_experience{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-bottom: 5%;
}

.conteneur_activities h1{
    margin-left: 3%;
    margin-bottom: 1.5em;
}

.work_experience{
    border-radius: 10px;
    /* background-color: rgba(162, 90, 108, 0.96); */
    background-color: #D2C0C4;
    padding-top: 1%;
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    width: 75%;
    margin-left: 13.45%;
    margin-bottom: 8em;
}

.experience1{
    /* background: linear-gradient(to right, #D2C0C4, #df93a5); */
    border: 3px solid black;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    width: 35%;
    padding-left: 4em;
    padding-bottom: 4em;
    padding-top: 2em;
    padding-right: 9em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* .experience1:hover{
    background: linear-gradient(to right, #3E5151, #DECBA4);
} */

.experience2{
    /* background: linear-gradient(to right, rgba(162, 90, 108, 0.96), #df93a5); */
    border: 3px solid black;
    border-radius: 81% 19% 25% 75% / 61% 64% 36% 39%;
    width: 35%;
    padding-left: 8em;
    padding-bottom: 3em;
    padding-top: 4em;
    padding-right: 2em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* .experience2:hover{
    background: linear-gradient(to right, #3E5151, #DECBA4);
} */

.project_links{
    display: flex;
    flex-direction: row;
    /*row-gap: 6em;
     column-gap: 3em; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project_links div{
     width: 45%;
    /*padding-right: 3em;
    margin-bottom: 3em; */
    /* width: 100%; */
    /* padding-left: 5%; */
    padding-right: 5%;
    margin-bottom: 1em;
    /* width: 100%;
    padding-left: 5%;
    padding-right: 0%; */
}

.project_links iframe{
    width: 400px;
    height: 300px;
    margin: auto;
}

.video_one iframe{
    margin-bottom: 8em;
    border: 5px solid black;
    box-shadow:
    5px 5px #ffb3ba,
    10px 10px black,
    inset 5px 5px white,
    inset 10px 10px black;
}

.video_two iframe{
    margin-bottom: 8em;
    border: 5px solid black;
  box-shadow:
    5px 5px #ffffba,
    10px 10px black,
    inset 5px 5px white,
    inset 10px 10px black;
}

.video_three iframe{
    margin-bottom: 8em;
    border: 5px solid black;
    border: 5px solid black;
    box-shadow:
    5px 5px #bae1ff,
    10px 10px black,
    inset 5px 5px white,
    inset 10px 10px black;
}

.video_four iframe{
    border: 5px solid black;
    box-shadow:
    5px 5px #bae1ff,
    10px 10px black,
    inset 5px 5px white,
    inset 10px 10px black;
}

.follow_me_links a{
    text-decoration: none;
}

.follow_me_links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}

.contact_me{
    width: 75%;
    border-radius: 10px;
    /* background-color: rgba(162, 90, 108, 0.96); */
    background-color: #D2C0C4;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 13.45%;
    margin-bottom: 8em;
}



.skills_experience1{
    margin-top: 4%;
    width: 30%;
    margin-left: 5%;
}

.skills_experience2{
    margin-top: 6%;
    width: 35%;
    margin-right: 5%;
} 

.skills_experience1 > h3,
.skills_experience2 > h3{
    padding: 1em;
    margin-right: 1em;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    font-weight: 700;
    color:black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color:#df93a5;
    /* background-color: #558C8C; */
    border-left: 5px #800020 solid;
}

.skills_experience1 > h3:hover,
.skills_experience2 > h3:hover{
    background-color:#800020;
    color: white;
}

.squarcle{
    background-color: #fff;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 3px;
}

.tools-grid{
    width: 75%;
    border-radius: 10px;
    /* background-color: rgba(162, 90, 108, 0.96); */
    background-color: #D2C0C4;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 13.45%;
    margin-bottom: 8em;
}

.conteneur_tools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-gap: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.python{
    grid-column: 1/4;
    grid-row: 1/4;
    font-size: 2em;
    justify-content: flex-start;
}

.javascript{
    grid-column: 4/6;
    grid-row: 3/5;
    font-size: 1.5em;
    justify-content: flex-start;
}

.pyqt5{
    grid-column: 1/2;
    grid-row: 4/6; 
}

.c{
    grid-column: 1/3;
    font-size: 2em;
    grid-row: 7/9;   
}

.markdown{
    grid-column: 5/6;
    grid-row: 7/9;   
}

.css3{
    grid-column: 1/3;
    grid-row: 6/7;   
}

.html5{
    grid-column: 3/6;
    grid-row: 6/7;   
}

.sql{
    grid-column: 1/2;
    grid-row: 9/11; 
}

.pysqlite{
    grid-column: 3/5;
    grid-row: 9/10; 
}

.uml{
    grid-column: 2/5;
    grid-row: 10/11; 
}

.git{
    grid-column: 1/4;
    grid-row: 11/12; 
}

.latex{
    grid-column: 4/6;
    grid-row: 11/12; 
}

.conteneur_tools img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.py{
    background: linear-gradient(to right, #4B79A1, #283E51);
    color: #FFE000;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.28);
}

.web{
    background: linear-gradient(to right, #FFE000,  rgba(0, 0, 0, 0.834));
    color: white;
    text-shadow: 1px 1px 0px black;
}

.gray{
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    color: #800020;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.584);
}

.caramel{
    background: linear-gradient(to right, #D1913C, #FFD194);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.584);
}

.py:hover,
.gray:hover,
.caramel:hover,
.web:hover{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1250px) {
    .conteneur_tools{
        overflow: auto;
        padding: 0px;
    }

    .experience1,
    .experience2{
        border: none;
        box-shadow: none;
        padding: 0px;
        width: 50%;
    }

    .experience1:hover,
    .experience2:hover,
    .experience3:hover{
        background: none;
    }

    .skills_experience1,
    .skills_experience2{
        margin: auto;
        margin-top: 0px;
    }

    .skills_experience1{
        padding-left: 3em;
        width: 40%;
    }

    .skills_experience2{
        padding-right: 2em;
        width: 45%;
    }

     #travels{
        margin: auto;
    }

    .video_one,
    .video_two, 
    .video_three{
        margin-bottom: 2em;
    }

    .conteneur_activities img{
        display: none;
    }
    
    .conteneur_activities div{
        width: 100%;
        padding-right: 5em;
    }

    .conteneur_activities{
        row-gap: 0px;
        column-gap: 0px;
    }

    .project_links div{
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 1140px) {

    .skills_experience1,
    .skills_experience2{
        display: none;
    }

    .experience1,
    .experience2{
        width: 100%;
        padding-right: 5em;
    }
}
